<% if current_user.favorited_by?(book.id) %>
    <%= link_to book_favorites_path(book.id), method: :delete, remote: true do %>
        <span class="glyphicon glyphicon-heart"><%= book.favorites.count %></span>
    <% end %>
    <% else %>
    <%= link_to book_favorites_path(book.id), method: :post, remote: true do %>
        <span class="glyphicon glyphicon-heart-empty"><%= book.favorites.count %></span>
    <% end %>
<% end %>